.classpath
PA5/runtime/
.metadata
PA1/bin/
PA2/bin/
PA3/bin/
PA4/bin/
PA5/bin/
PA6/bin/
PA6/tests/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
PA1/.project
PA2/.project
PA3/.project
PA4/.project
PA5/.project
PA6/.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
PA1/.classpath
PA2/.classpath
PA3/.classpath
PA4/.classpath
PA5/.classpath
PA6/.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
